*{
    margin: 0;
    padding: 0;
}
#app{
    height: 100%;
}
body,
html,
.page-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    font-size: 62.5%;
    background-color: #F2F3F6;
}
.page-main{
    flex: 1;
    overflow: auto;
    padding: 0 .5rem;
    box-sizing: border-box;
}